@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #109d57;

  --white-color: #fff;
  --black-color: #000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
}

.inter {
  font-style: normal;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-family: "Inter", sans-serif;
}
